body {
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "sofia-pro","Sofia Pro",sans-serif;
    color: #eeeeee;
    background-color: #1d1919;
    background: url(/img/panorama.jpg);
    background-size: cover;
}
a {
    color: #d33;
    text-decoration: none;
}
a:hover {
    color: #d33;
    text-decoration: underline;
}

.navbar-brand {
    background: #fff;
    filter: invert(0.9);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d4cccc;
}
.navbar.navbar-default {
    background: #d33;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-shadow: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background: #b52828;
    box-shadow: none;
    color: #fff;
}

.form-control {
    color: #eee;
    background-color: #34343a;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    transition: none;
}
.label-primary {
    background-color: #d33;
}
.btn-primary {
    background: #d33;
    color: #fff;
    border: none;
    border-radius: 1px;
}
.btn-primary:hover {
    color: #fff;
    background: #921e1e;
}
.btn-link {
    color: #d33;
}

.panel-group {
    opacity: 0.8;
}
.panel {
    box-shadow: none;
}
.panel-default {
    border: 1px solid #2d2d2d;
    background: #2d2d2d;
    border-radius: 3px;
    opacity: 0.8;
}
.panel-group .panel {
    border: none;
}
.panel-default>.panel-heading {
    background: #353535;
    color: #e8e8e8;
    border: none;
}
.panel>.table+.panel-body {
    border: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body, .panel-body{
    border: none;
    border-radius: 0 0 3px 3px;
    background: #2d2d2d;
}
.panel-footer {
    background: #151515;
    border: none;
}

.btn-default, .btn-primry {
    background: #fff;
    color: #4c4c4c;
    text-shadow: none;
    border: none;
    border-radius: 3px;
}

.btn-primry {
    background: #d33;
    color: #fff;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
    filter: saturate(0.5);
}
hr {
  border-top: 1px solid #161d3c;
}
button.ColVis_Button, ul.ColVis_collection li {
    box-shadow: none;
    color: #a9a9a9 !important;
    border: none;
    background: #34343a;
}
.ColVis_Button:hover, ul.ColVis_collection li:hover {
    border: none;
    text-decoration: none !important;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: none;
    background: #7b7b7b;
}

#chain_filter {
    color: #e8e8e8;
}

table {
  background: #25252b;
  border-radius: 3px;
}
.table .table {
    background-color: #151515;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border: none;
}
.table>tbody>tr>th {
  border: none;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}
.table>tbody>tr>td {
    border-top: 1px solid #2b2b2b;
    color: #ededed;
}

table.dataTable tbody tr {
    background-color: #303033;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #34353c;
}
.table>tbody>tr>td.success {
    background-color: #264c17;
}
.table>tbody>tr>td.danger {
    background-color: #731f1f;
}
abbr[title] {
    border: none;
}
.pager li>a, .pager li>span {
    background: none;
    border: none;
}

.progress-bar {
    background: #d33;
}

.highcharts-container {
    filter: invert(1);
}

.red{color:#FE2E2E}
.orange{color:#FE9A2E}
.light-orange{color:#FACC2E}
.light-green{color:#C8FE2E}
.green{color:#64FE2E}

#drop input{
    display:none;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:12px;
    font-weight:bold;
    color:#7f858a;
}
